<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2016 Google Inc. All Rights Reserved.

This file is placed in the Unity Android Plugin to make it support the
eclipse style directory structure. It's currently used only as a stub, and has
no real data that gets merged with the final manifest, but is none-the-less
needed for the plugin to be parsed correctly in the folder structure we use.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.firebase.unity"
          android:versionCode="1"
          android:versionName="1.0">
    <!--
	MechaHamster is being built with Unity 5.6, which is currently in beta. One of the issues that
	has come up is these features, which need to be included for Daydream apps, which Unity should
	be automatically including are missing. As a workaround to this, declare them explicitly, so
	they will be included in the final generated AndroidManifest file.
	-->
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />
	<uses-feature android:name="android.software.vr.mode" android:required="false" />
</manifest>
